<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>广东美术馆</title>
  <link rel="icon" href="logo_dark.png" type="image/x-icon">
  <!--<link rel="preload" as="style"-->
        <!--href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
  <!--<link rel="stylesheet"-->
        <!--href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->
  <!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">-->
  <link rel="stylesheet" href="/xm.css">
  <style>
    .braft-embed-image {float:none !important;text-align:center;}
  </style>
</head>

<body>
<!--<div style="overflow: hidden; display: grid"><i style="height:0; width:0" class="fas fa-camera-retro"></i></div>-->
  <div id="root"></div>
</body>

</html>
